body {
    background: #f4f6fb;
    font-family: 'Segoe UI', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 14px rgba(33,44,66,0.10);
    padding: 28px;
    
}

#btn-back {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;

  /* awalnya transparan */
  opacity: 0;

  /* transisi yang dipakai */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease, box-shadow 0.3s ease;
}

#btn-back:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(102, 126, 234, 0.4);
}


h1 {
    text-align: center;
    color: #5a4aff;
    margin-bottom: 40px;
    font-size: 3.5rem;
    
    
   
}


.profiles {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-card {
    background: #e8eefc;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(33,44,66,0.07);
    width: 250px;
    padding: 28px 20px;
    text-align: center;
    transition: box-shadow 0.2s;
    opacity: 0;
    transform: translateY(32px);
}

.profile-card.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #5797fa;
}

h2 {
    color: #223366;
    margin-bottom: 8px;
    font-size: 1.15em;
}

.insta-btn {
   padding: 1rem 2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;

}
.insta-btn:hover {
    background: linear-gradient(90deg, #fc3123, #fe8c00);
